@use "./breakpoints" as *;

// =======================
// COLORS & GRADIENTS
// =======================
:root {
	--clr-blue-800: hsl(210, 66%, 17%);
	--clr-blue-700: hsl(210, 65%, 21%);
	--clr-blue-500: hsl(210, 46%, 33%);

	--clr-orange-500: hsl(13, 95%, 54%);

	--clr-black: hsl(213, 31%, 11%);
	--clr-grey-300: rgb(183, 183, 183);
	--clr-grey-100: rgb(238, 238, 238);
	--clr-white: hsl(0, 0%, 100%);

	--clr-error: hsl(0, 100%, 50%);
}

// =======================
// TYPOGRAPHY
// =======================

// FONTS
:root {
	--font-primary: "Inter", sans-serif;
	--font-secondary: ;
}

// FONT SIZES
:root {
	$font-size-values: (12, 14, 16, 18, 20, 24, 32, 48, 56, 72);

	@each $size in $font-size-values {
		--fs-#{$size}: #{calc($size / 16)}rem;
	}
}

// FONT WEIGHTS
:root {
	$font-weight-values: (400, 500, 600, 700);

	@each $weight in $font-weight-values {
		--fw-#{$weight}: #{$weight};
	}
}

// =======================
// SPACING
// =======================
:root {
	$spacing-values: (1, 4, 6, 8, 12, 16, 20, 24, 32, 48, 64, 96, 160);

	@each $value in $spacing-values {
		--space-#{$value}: #{calc($value / 16)}rem;
	}
}

// =======================
// CONTAINERS
// =======================

// GENERAL SETTINGS
:root {
	--container-spacing: var(--space-64);
}

// DEFAULT
:root {
	--container-default-width: 600px;
	--container-default-bound-left: 1rem;
	--container-default-bound-right: 1rem;
}

// =======================
// EXTRA
// =======================

// BORDER RADIUS VALUES
:root {
	$border-radius-values: (5, 10, 15);

	@each $value in $border-radius-values {
		--border-radius-#{$value}: #{$value}px;
	}
}

// BOX SHADOWS
:root {
	--box-shadow-default: 0 10px 16px -4px rgba(0, 0, 0, 0.1);
}

// TRANSITIONS
:root {
	--transition-default: all ease-out 0.15s;
}
