.c-drinks-button {
    position: fixed;
    bottom: 1rem;
    left: 1.5rem;
    background-color: var(--clr-orange-500);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.2s ease;
    z-index: 1000; // ensures it floats above page content

    &:hover {
        opacity: 0.8;
        transform: scale(1.05);
    }

    .c-icon {
        padding-left: 2px;
        padding-top: 2px;
        width: 30px;
        height: 30px;
        fill: white;
    }
}
