{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}
{% extends "_app/base/layout" %}
{% requireLogin %}

{% set class = "competitions-page" %}

{% set competitions = craft.entries
    .section("competitions")
    .relatedTo(currentUser.teamsField)
    .all|default("") %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
{% block content %}
    <section x-data="competitions" class="competitions-page container {{ class }}">
        <div class="competitions-page-content">
            {% include "_app/components/competitions/upcommingCompetition" %}

            <div id="competition-results" class="competitions-page-main">
                {# Loaded via JS request #}
            </div>
        </div>
    </section>
{% endblock %}